<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/models.css">
</head>
<body>
	<p id="loading">loading......</p>
	<div id="color" style="position: absolute; right:20px;top:30px;">
		<li onclick='change_color(this)' name="black">黑色</li>
		<li onclick='change_color(this)' name="white">白色</li>
		<li onclick='change_color(this)' name="gary">灰色</li>
		<li onclick='change_color(this)' name="red">红色</li>
		<li onclick='change_color(this)' name="yellow">黄色</li>
		<li onclick='change_color(this)' name="blue">蓝色</li>
        <li><a href="../">返回</a></li>
	</div>
    <script src="/static/js/models.js"></script>
</body>
</html>