<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3D</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/three.js"></script>
    <script src="/static/js/OrbitControls.js"></script>
    <script src="/static/js/GLTFLoader.js"></script>
    <link rel="stylesheet" type="text/css" href="/static/css/models.css">
</head>
<body>
<div id="contorl">
    <input class="color" type="color">
</div>
<script src="/static/js/models.js"></script>
</body>
</html>