<!DOCTYPE html>
<html>
<head>
	<title>{{ new.title }}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/static/img/web_icon/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/static/css/comment.css">
    <link rel="stylesheet" type="text/css" href="/static/css/overview.css">
    <style>

    </style>
</head>
<body>
	<div id='frame'>
		<div id="header">
			<div id="logo">
				<a href="http://127.0.0.1:8000/"><img src="/static/img/web_icon/logo.jpg"></a>
			</div>
			<div id="main_nav">
				<ul>
                    <li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
                        <div class="detail">
                            <div class="detail_left">
                                <dl>
                                    <dt><a><b>{{ car_types.main_nav_name }}</b></a></dt>
                                    {% for car_type_detail in car_type_details %}
                                        <dd><a href={% url 'overview' %}#{{ car_type_detail.car_system_id }}>{{ car_type_detail.car_system_name }}</a></dd>
                                    {% endfor %}
                                </dl>
                            </div>
                            <div class="detail_right">
                                <a href={% url 'overview' %}><img src="/static/img/detail/q.jpg"><span>车型筛选</span></a>
                                <a href={% url 'financial_service' %}><img src="/static/img/detail/y.jpg"><span>金融服务</span></a>
                            </div>
                        </div>
                        <a href={% url 'overview'  %}>{{ car_types.main_nav_name }}</a>
                    </li>
					<li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
						<div class="detail">
							<div class="detail_left">
								<dl>
									<dt><a><b>{{ car_brands.main_nav_name }}</b></a></dt>
                                    <dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
                                        <a href="/brand/{{ car_brand_details_first.main_one_nav_title }}">{{ car_brand_details_first.main_one_nav_name }}</a>
                                        <div class="left_detail_right_show">
                                            <h3>{{ car_brand_details_first.main_one_nav_name }}</h3>
                                            <p>{{ car_brand_details_first.main_one_nav_brief }}</p>
                                            <a><img src="/media/{{ car_brand_details_first.main_one_nav_img }}"></a>
                                        </div>
                                    </dd>
                                    {% for car_brand_detail in car_brand_details%}
                                        <dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
                                            <a href="/brand/{{ car_brand_detail.main_one_nav_title }}">{{ car_brand_detail.main_one_nav_name }}</a>
                                            <div class="left_detail_right">
                                                <h3>{{ car_brand_detail.main_one_nav_name }}</h3>
                                                <p>{{ car_brand_detail.main_one_nav_brief }}</p>
                                                <a><img src="/media/{{ car_brand_detail.main_one_nav_img }}"></a>
                                            </div>
                                        </dd>
									{% endfor %}
								</dl>
							</div>
						</div>
						<a href={% url 'brand' %}>{{ car_brands.main_nav_name }}</a>
					</li>
					<li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
						<div class="detail">
							<div class="detail_left">
								<dl>
									<dt><a><b>{{ customer_services.main_nav_name }}</b></a></dt>
									<dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
										<a href="/service/{{ customer_service_detail_first.main_one_nav_title }}/">{{ customer_service_detail_first.main_one_nav_name }}</a>
										<div class="left_detail_right_show">
											<h3>{{ customer_service_detail_first.main_one_nav_name }}</h3>
											<p>{{ customer_service_detail_first.main_one_nav_brief }}</p>
											<a><img src="/media/{{ customer_service_detail_first.main_one_nav_img }}"></a>
										</div>
									</dd>
                                    {% for customer_service_detail in customer_service_details %}
                                        <dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
                                            <a href="/service/{{ customer_service_detail.main_one_nav_title }}/">{{ customer_service_detail.main_one_nav_name }}</a>
                                            <div class="left_detail_right">
                                                <h3>{{ customer_service_detail.main_one_nav_name }}</h3>
                                                <p>{{ customer_service_detail.main_one_nav_brief }}</p>
                                                <a><img src="/media/{{ customer_service_detail.main_one_nav_img }}"></a>
                                            </div>
                                        </dd>
                                    {% endfor %}
								</dl>
							</div>
						</div>
						<a href={% url 'service' %}>{{ customer_services.main_nav_name }}</a>
					</li>
					<li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
						<div class="detail">
							<div class="detail_left">
								<dl>
									<dt><a><b>{{ news_informations.main_nav_name }}</b></a></dt>
                                    {% for news_information_detail in news_information_details %}
									<dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
										<a>{{ news_information_detail.main_one_nav_name }}</a>
										<div class="left_detail_right_show">
											<h3>{{ news_information_detail.main_one_nav_name }}</h3>
											<p>{{ news_information_detail.main_one_nav_brief }}</p>
											<a><img src="/media/{{ news_information_detail.main_one_nav_img }}"></a>
										</div>
									</dd>
                                    {% endfor %}
								</dl>
							</div>
						</div>
						<a href={% url 'news' %}>{{ news_informations.main_nav_name }}</a>
					</li>
					<li><a href={% url 'dealer' %}>{{ inquire_dealers.main_nav_name }}</a></li>
					<li><a href={% url 'test_drive' %}>{{ test_drives.main_nav_name }}</a></li>
				</ul>
			</div>
		</div>

		<div id="main">
            <div class="new_left">
                <p class="new_detail_date">{{ new.publication_date }}</p>
                <p class="new_detail_title"><b>{{ new.title }}</b></p>
                <img src="/media/{{ new.src }}" >
            </div>
            <div class="new_right">
                <a href={% url 'news' %}><<返回列表</a>
                <p class="new_detail_content">{{ new.content }}</p>
            </div>
            <div style="clear: both"></div>
		</div>
		<div id="nav">
            <div>
                <div>
                    <dl>
                        <dt><a><b>{{ car_types.main_nav_name }}</b></a></dt>
                       {% for car_type_detail in car_type_details %}
                           <dd><a href={% url 'overview' %}#{{ car_type_detail.car_system_id }}>{{ car_type_detail.car_system_name}}</a></dd>
                       {% endfor %}
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ car_brands.main_nav_name }}</b></a></dt>
                        <dd><a href="/brand/{{ car_brand_details_first.main_one_nav_title }}/">{{ car_brand_details_first.main_one_nav_name }}</a></dd>
                        {% for car_brand_detail in car_brand_details %}
                        <dd><a href="/brand/{{ car_brand_detail.main_one_nav_title }}/">{{ car_brand_detail.main_one_nav_name }}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ news_informations.main_nav_name }}</b></a></dt>
                        <dd><a href={% url 'news' %}>{{ news_informations.main_nav_name }}</a></dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ test_drives.main_nav_name }}</b></a></dt>
                        <dd><a href={% url 'test_drive' %}>{{ test_drives.main_nav_name }}</a></dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ customer_services.main_nav_name }}</b></a></dt>
                        <dd><a href='/service/{{ customer_service_detail_first.main_one_nav_title }}'>{{ customer_service_detail_first.main_one_nav_name }}</a></dd>
                        {% for customer_service_detail in customer_service_details %}
                        <dd><a href="/service/{{ customer_service_detail.main_one_nav_title }}">{{ customer_service_detail.main_one_nav_name }}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><b>购车指南</b></dt>
                        <dd><a href={% url 'dealer' %}>查找经销商</a></dd>
                        <dd><a href={% url 'financial_service' %}>金融计算器</a></dd>
                    </dl>
                </div>
            </div>
		</div>
		<div style="clear: both;"></div>
		<div id="footer">
			<div class="footer-link">
				<ul>
					<li><a href="../">网站首页</a></li>
					<li><a href="#">法律声明</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">经销商招募</a></li>
					<li><a href={% url 'financial_service' %}>金融服务</a></li>
					<li><a href="#">预约试驾</a></li>
					<li><a href="#">官方微博</a></li>
					<li><a href="#">官方微信</a></li>
				</ul>
			</div>
			<div class="copyright">
				<p class='text-center'>© 2005-2018 XXXX版权所有<span></span>XX汽车投资有限公司</p>
				<p class='text-center'>京ICP备XXXXXXXX号<span></span>京公网安备XXXXXXXXXXXXX</p>
			</div>

		</div>
	</div>
	<script type="text/javascript" src="static/js/rotation_chart.js"></script>
	<script type="text/javascript" src="static/js/comment.js"></script>
</body>
</html>