<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>预约试驾</title><!DOCTYPE html>
<html>
<head>
	<title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/static/img/web_icon/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" type="text/css" href="/static/css/comment.css">
	<link rel="stylesheet" type="text/css" href="/static/css/overview.css">
	<script type="text/javascript" src="/static/js/jquery-3.3.1.min.js"></script>
</head>
<body>
	<div id='frame'>
		<div id="header">
			<div id="logo">
				<a href="http://127.0.0.1:8000/"><img src="/static/img/web_icon/logo.jpg"></a>
			</div>
			<div id="main_nav">
				<ul>
                    <li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
                        <div class="detail">
                            <div class="detail_left">
                                <dl>
                                    <dt><a><b>{{ car_types.main_nav_name }}</b></a></dt>
                                    {% for car_type_detail in car_type_details %}
                                        <dd><a href={% url 'overview' %}#{{ car_type_detail.car_system_id }}>{{ car_type_detail.car_system_name }}</a></dd>
                                    {% endfor %}
                                </dl>
                            </div>
                            <div class="detail_right">
                                <a href={% url 'overview' %}><img src="/static/img/detail/q.jpg"><span>车型筛选</span></a>
                                <a href={% url 'financial_service' %}><img src="/static/img/detail/y.jpg"><span>金融服务</span></a>
                            </div>
                        </div>
                        <a href={% url 'overview' %}>{{ car_types.main_nav_name }}</a>
                    </li>
					<li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
						<div class="detail">
							<div class="detail_left">
								<dl>
									<dt><a><b>{{ car_brands.main_nav_name }}</b></a></dt>
                                    <dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
                                        <a href="/brand/{{ car_brand_details_first.main_one_nav_title }}">{{ car_brand_details_first.main_one_nav_name }}</a>
                                        <div class="left_detail_right_show">
                                            <h3>{{ car_brand_details_first.main_one_nav_name }}</h3>
                                            <p>{{ car_brand_details_first.main_one_nav_brief }}</p>
                                            <a><img src="/media/{{ car_brand_details_first.main_one_nav_img }}"></a>
                                        </div>
                                    </dd>
                                    {% for car_brand_detail in car_brand_details%}
                                        <dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
                                            <a href="/brand/{{ car_brand_detail.main_one_nav_title }}">{{ car_brand_detail.main_one_nav_name }}</a>
                                            <div class="left_detail_right">
                                                <h3>{{ car_brand_detail.main_one_nav_name }}</h3>
                                                <p>{{ car_brand_detail.main_one_nav_brief }}</p>
                                                <a><img src="/media/{{ car_brand_detail.main_one_nav_img }}"></a>
                                            </div>
                                        </dd>
									{% endfor %}
								</dl>
							</div>
						</div>
						<a href={% url 'brand' %}>{{ car_brands.main_nav_name }}</a>
					</li>
					<li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
						<div class="detail">
							<div class="detail_left">
								<dl>
									<dt><a><b>{{ customer_services.main_nav_name }}</b></a></dt>
									<dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
										<a href="/service/{{ customer_service_detail_first.main_one_nav_title }}/">{{ customer_service_detail_first.main_one_nav_name }}</a>
										<div class="left_detail_right_show">
											<h3>{{ customer_service_detail_first.main_one_nav_name }}</h3>
											<p>{{ customer_service_detail_first.main_one_nav_brief }}</p>
											<a><img src="/media/{{ customer_service_detail_first.main_one_nav_img }}"></a>
										</div>
									</dd>
                                    {% for customer_service_detail in customer_service_details %}
                                        <dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
                                            <a href="/service/{{ customer_service_detail.main_one_nav_title }}/">{{ customer_service_detail.main_one_nav_name }}</a>
                                            <div class="left_detail_right">
                                                <h3>{{ customer_service_detail.main_one_nav_name }}</h3>
                                                <p>{{ customer_service_detail.main_one_nav_brief }}</p>
                                                <a><img src="/media/{{ customer_service_detail.main_one_nav_img }}"></a>
                                            </div>
                                        </dd>
                                    {% endfor %}
								</dl>
							</div>
						</div>
						<a href={% url 'service' %}>{{ customer_services.main_nav_name }}</a>
					</li>
					<li onmouseover="showMeum(this)" onmouseout="hideMeum(this)">
						<div class="detail">
							<div class="detail_left">
								<dl>
									<dt><a><b>{{ news_informations.main_nav_name }}</b></a></dt>
                                    {% for news_information_detail in news_information_details %}
									<dd onmouseover="showDetail(this)" onmouseout="hideDetail(this)">
										<a>{{ news_information_detail.main_one_nav_name }}</a>
										<div class="left_detail_right_show">
											<h3>{{ news_information_detail.main_one_nav_name }}</h3>
											<p>{{ news_information_detail.main_one_nav_brief }}</p>
											<a><img src="/media/{{ news_information_detail.main_one_nav_img }}"></a>
										</div>
									</dd>
                                    {% endfor %}
								</dl>
							</div>
						</div>
						<a href={% url 'news' %}>{{ news_informations.main_nav_name }}</a>
					</li>
					<li><a href={% url 'dealer' %}>{{ inquire_dealers.main_nav_name }}</a></li>
					<li><a href={% url 'test_drive' %}>{{ test_drives.main_nav_name }}</a></li>
				</ul>
			</div>
		</div>


		<div id="main">
            <div class="car_type">
                <h3>{{ test_drives.main_nav_name }}</h3>
                <div class="choose_carsystem">
                    <div class="title">
                        <p style="">选择车系</p>
                    </div>
                    <div class="content">
                        {% for all_car_type in all_car_types %}
                        <li onclick="car_sys(this)">
                            <a>
                                <div class="car">
                                    <p>{{ all_car_type.car_type_name }}</p>
                                    <img src='/media/{{ all_car_type.car_type_img }}'>
                                    <p>{{ all_car_type.car_type_all_name }}</p>
                                </div>
                            </a>
                        </li>
                        {% endfor %}
                        <div style="clear:both;"></div>
                    </div>
                </div>
                <div class="choose_cartype">
                    <div class="title">
                        <p>选择车型</p>
                    </div>
                    <div class="content" id="type_car">

                    </div>
                    <div style="clear:both;"></div>
                </div>
                <div class="user_info">
                    <div class="title">
                        <p>填写信息</p>
                    </div>
                    <div class="info">
                        <div class="info_left"></div>
                        <form class="info_form" method="post" enctype="multipart/form-data">
                            <label>姓名：</label><input type="text" name="name" value="请输入姓名" onfocus="fouse(this)" onblur="blue(this)" onkeyup="value=value.replace(/[\d]/g,'')" maxlength=10><br>
                            <label>称谓：</label><div><input type="radio" name="sex" id="male" value="先生">先生<input type="radio" name="sex" id="female" value="女士">女士</div><br>
                            <label>手机号码：</label><input type="text" name="telephone" value="请输入电话号码"onfocus="fouse(this)" onblur="blue(this)" onkeyup="value=value.replace(/[^0-9]/g,'')" onpaste="value=value.replace(/[^0-9]/g,'')" oncontextmenu="value=value.replace(/[^0-9]/g,'')" maxlength="11"><dd style="display: inline-block;height: 18px;"><span id="tel_error">输入错误，请重新输入！</span></dd><br>
                            <label>所在省份：</label>
                                <select id="province" name ="province">
                                    <option value ="">请选择省份</option>
                                </select><br>
                            <label>所在城市：</label>
                                <select id="city" name ="city">
                                    <option value ="">请选择城市</option>
                                </select><br>
                            <label>经销商：</label>
                                <select id="company" name ="dealer">
                                    <option value ="">请选择经销商</option>
                                </select><br>
                            <label>计划买车时间：</label>
                                <select name="plan_time">
                                    <option value ="0">请选择时间</option>
                                    <option value ="一个月以内">一个月以内</option>
                                    <option value ="三个月以内">三个月以内</option>
                                    <option value ="半年以内">半年以内</option>
                                </select><br>
                            <label>希望的到反馈的时间：</label>
                                <select name="feedback_time">
                                    <option value ="0">请选择时间</option>
                                    <option value ="工作日">工作日</option>
                                    <option value ="双休日">双休日</option>
                                    <option value ="全天候">全天候</option>
                                </select><br><br>
                            <input type="submit" value="预约试驾" class="order_drive">
                        </form>
                    </div>
                </div>
            </div>
        </div>

		<div id="nav">
            <div>
                <div>
                    <dl>
                        <dt><a><b>{{ car_types.main_nav_name }}</b></a></dt>
                       {% for car_type_detail in car_type_details %}
                           <dd><a href={% url 'overview' %}#{{ car_type_detail.car_system_id }}>{{ car_type_detail.car_system_name}}</a></dd>
                       {% endfor %}
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ car_brands.main_nav_name }}</b></a></dt>
                        <dd><a href="/brand/{{ car_brand_details_first.main_one_nav_title }}/">{{ car_brand_details_first.main_one_nav_name }}</a></dd>
                        {% for car_brand_detail in car_brand_details %}
                        <dd><a href="/brand/{{ car_brand_detail.main_one_nav_title }}/">{{ car_brand_detail.main_one_nav_name }}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ news_informations.main_nav_name }}</b></a></dt>
                        <dd><a href={% url 'news' %}>{{ news_informations.main_nav_name }}</a></dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ test_drives.main_nav_name }}</b></a></dt>
                        <dd><a href={% url 'test_drive' %}>{{ test_drives.main_nav_name }}</a></dd>
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><a><b>{{ customer_services.main_nav_name }}</b></a></dt>
                        <dd><a href='/service/{{ customer_service_detail_first.main_one_nav_title }}'>{{ customer_service_detail_first.main_one_nav_name }}</a></dd>
                        {% for customer_service_detail in customer_service_details %}
                        <dd><a href="/service/{{ customer_service_detail.main_one_nav_title }}">{{ customer_service_detail.main_one_nav_name }}</a></dd>
                        {% endfor %}
                    </dl>
                </div>
                <div>
                    <dl>
                        <dt><b>购车指南</b></dt>
                        <dd><a href={% url 'dealer' %}>查找经销商</a></dd>
                        <dd><a href={% url 'financial_service' %}>金融计算器</a></dd>
                    </dl>
                </div>
            </div>
		</div>
		<div style="clear: both;"></div>
		<div id="footer">
			<div class="footer-link">
				<ul>
					<li><a href="http://127.0.0.1:8000/">网站首页</a></li>
					<li><a href="#">法律声明</a></li>
					<li><a href="#">联系我们</a></li>
					<li><a href="#">经销商招募</a></li>
					<li><a href={% url 'financial_service' %}>金融服务</a></li>
					<li><a href="#">预约试驾</a></li>
					<li><a href="#">官方微博</a></li>
					<li><a href="#">官方微信</a></li>
				</ul>
			</div>
			<div class="copyright">
				<p class='text-center'>© 2005-2018 XXXX版权所有<span></span>XX汽车投资有限公司</p>
				<p class='text-center'>京ICP备XXXXXXXX号<span></span>京公网安备XXXXXXXXXXXXX</p>
			</div>

		</div>
	</div>
	<script type="text/javascript" src="/static/js/comment.js"></script>
	<script type="text/javascript" src="/static/js/baiduditu.js"></script>
</body>
</html>
