<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<link rel="icon" href="/static/img/web_icon/favicon.ico" type="image/x-icon" />
	<title></title>
	<link rel="stylesheet" type="text/css" href="/static/css/staff.css">
    <link rel="stylesheet" type="text/css" href="/static/css/dealer_admin.css">
</head>
<body>
<div id="frame">
	<div id="left">
		<div style="width: 100%;display: inline-block;background: white;text-align: center;">
			<img src="/static/img/detail/w.jpg" style="display: inline-block;border-radius:50%;width: 40px;height: 40px;">
            <p style="font-size: 20px;padding-bottom: 20px;">{{ user.user_type.user_type_name }}</p>
            <p style="font-size: 20px;">{{ user.belong_to.distributor_name }}</p>
		</div>

		<div class="nav">
			<a href={% url 'dealer_admin' %}><li class="li" onmouseover="over(this)" onmouseout="out(this)">员工管理</li></a>
			<a href={% url 'dealer_admin' 2 %}><li class="li" onmouseover="over(this)" onmouseout="out(this)">车辆库存管理</li></a>
			<a href={% url 'dealer_admin' 3 %}><li class="li" onmouseover="over(this)" onmouseout="out(this)">查询预约记录</li></a>
			<a href={% url 'dealer_admin' 4 %}><li class="li" onmouseover="over(this)" onmouseout="out(this)">查询购买记录</li></a>
		</div>
	</div>
	<div id="right">
		<p>{{ name }}</p><a href="/backstage/add/"><div class="add">+添加一个员工</div></a>
		<div class="content">
			<form class="select-form" action="" method="POST" enctype="multipart/form-data">
                <input class="text" type="text" name="name" value="请输入姓名或工号"><input type="submit" class='submit' value="搜索">
            </form>
            <div style="clear: both"></div>
            {% if staff %}
                <table class="staff-info">
                <tr class="first-tr">
                    <th class="th">员工工号</th>
                    <th class="th">员工姓名</th>
                    <th class="th">员工性别</th>
                    <th class="th">员工电话</th>
                    <th class="th">员工邮箱</th>
                    <th class="th">员工地址</th>
                </tr>
                {% for i in staff %}
                <tr>
                    <th class="th">{{ i.account }}</th>
                    <th class="th">{{ i.user_name }}</th>
                    <th class="th">{% ifequal i.sex 1 %}男{% else %}女{% endifequal %}</th>
                    <th class="th">{{ i.telephone }}</th>
                    <th class="th">{{ i.email }}</th>
                    <th class="th">{{ i.address }}</th>
                    <th class="choose"><a href="/backstage/update/{{ i.account }}/"><div>修改</div></a></th>
                    <th class="choose"><a href="/backstage/delete/{{ i.account }}/"><div>删除</div></a></th>
                </tr>
                {% endfor %}
            </table>
            {% else %}
                <p style="width: 100%;line-height: 40px;height: 40px;text-align: center">没有查询结果</p>
            {% endif %}
		</div>
	</div>
</div>
</body>
<script type="text/javascript" src="/static/js/backstage.js"></script>
</html>